* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

h1
{
    font-weight: lighter;
    font-size: 40px;
}

.contents1
{
    font-size: 20px;
    font-weight:lighter;
}

.result
{
    font-size: 24px;
    font-weight: lighter;
}

.result2
{
    font-size: 18px;
    font-weight: bold;
}

.result3
{
    font-size: 12px;
    font-weight: bold;
}

.intro_bg
{
    width: 100%;
    height: 720px;
}

.bg_img
{
    width: 100%;
    height: 100%;
    background-image: url("./image/intro.png");
    background-size: cover;
}

.header
{
    display: flex;
    width: 1280px;
    margin:auto;
    height: 86px;
}

.nav
{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 300px);
}

.nav > li
{
    margin-left: 84px;
}

.nav > li > a
{
    color: #fff;
}

.searchArea
{
    width: 300px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-top: 24px;
    
}

.searchArea > form > input
{
    border: none;
    width: 220px;
    height: 40px;
    background: rgba(0, 0, 0, 0.0);
    color: #fff;
    padding-left: 10px;
}

.searchArea > form > span
{
    width: 80px;
    color: #fff;
    font-weight: bold;
}

.intro_text > h1,
.intro_text > h4
{
    color: #fff;
    padding: 10px;
}



.intro_text
{
    text-align: center;
    margin: 231px auto 231px auto;
    width: 100%;
    position: relative;
    margin-top: 130px;
}

.amount
{
    width: 1280px;
    background: #fff;
    display: flex;
    margin: auto;
    height: 132px;
    position: relative;
    border-radius: 20px;
    top: -66px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.amount > li > div
{
    text-align: center;
    height: 57px;
    margin-top: 37px;
}

.amount > li:not(:last-child) > div
{
    border-right: 1px solid #e1e1e1;
}

.amount > li
{
    flex: 1;
}

.main_text0
{
    width: 100%;
    height: 1000px;
    background: #f1f2f3;
    margin-top: -132px;
}

.main_text1
{
    width: 100%;
    height: 1000px;
    background: #f1f2f3;
}

.main_text0 > h1
{
    padding-top: 150px;
    text-align: center;
}

.main_text1 > h1
{
    padding-top: 150px;
    text-align: center;
}

.main_text0 > .contents1
{
    text-align: center;
}
.main_text1 > .contents1
{
    text-align: center;
}

.academic_intro
{
    width: 100%;
    height: 600px;
}

.contact_intro
{
    width: 100%;
    height: 916px;
}

.extracurricular_activity_intro_bg
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("./image/extracurricular_activity.jpeg");
}

.academic_intro_bg
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("./image/academic_img.png");
}

.zepeto_intro_bg
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("./image/zepeto_intro.png");
}

.zepeto_intro
{
    width: 100%;
    height: 916px;
}

.contact_intro_bg
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("./image/contact.png");
}

.fade
{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.aca_intro_text
{
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 110px;
}

.aca_intro_text > h1,
.aca_intro_text > h4
{
    color: #fff;
    margin: 10px;
}

.aca_intro_text > h1
{
    font-weight: bold;
}

.fade > .header > .searchArea
{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.paragraph1
{
    border-radius: 30px;
    width: 400px;
    background-color: #fff;
    height: 600px;
    float: left;
    position: relative;
    margin: 80px 0px 0px 70px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.paragraph2
{
    border-radius: 30px;
    width: 400px;
    background-color: #fff;
    height: 600px;
    float: left;
    position: relative;
    margin: 80px 0px 0px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.paragraph3
{
    border-radius: 30px;
    width: 100%;
    background-color: #fff;
    background-size: cover;
    height: 600px;
    float: left;
    position: relative;
    margin: 80px 100px 0px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.self_introd
{
    position: relative;
    width: 320px;
    height: 520px;
    margin: 40px 40px 40px 40px;
}
.self_introd3
{
    position: relative;
    width: 320px;
    height: 520px;
    margin: 40px 40px 40px 40px;
}
.paragraph3 > .self_introd
{
    width: 100%;
}

.self_introd > h1
{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 30px;
}

.self_introd2 > h1
{
    font-size: 50px;
    font-weight: bold;
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center;
}

.self_introd3 > h1
{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 30px;
}

.paul
{
    text-align: center;
    font-size: 25px;
    padding-top: 70px;
    color: rgb(117, 117, 117);
}

.poem
{
    padding-left: 225px;
    font-size: 25px;
    padding-top: 20;
}

.bottom_bar
{
    width: 100%;
    height: 100px;
    background-color: #000;
}

.bottom_bar > h4:first-child
{
    padding-top: 15px;
}

.bottom_bar > h4
{
    color: #fff;
    text-align: right;
    padding-right: 30px;
}

.self_introd > li
{
    padding-top: 5px;
}

.my_persnality
{
    margin-top: 40px;
    width: 320px;
    background-size: cover;
    height: 185px;
    background-image: url("./image/my_persnality.png");
}

.word_cloud_img
{
    background-image: url("./image/wordcloud_20220112210642.png");
    background-size: cover;
    width: 80%;
    height: 240px;
    margin-left: 35px;
}

.instagram
{
    color: #fff;
    text-align: center;
}

.bottom_bar > div
{
    float: right;
    width: 280px;
    height: 24px;
    padding-right: 26px;
}


.main_contents
{
    width: 100%;
    height: 800px;
    background-size: cover;
    display: flex;
}

.my_pic
{
    background-image: url("./image/my_pic.png");
    background-size: cover;
    width: 177px;
    height: 236px;
    margin-left: 70px;
}

.zepeto_profile
{
    background-image: url("./image/zepeto_profile.png");
    background-size: cover;
    width: 320px;
    height: 100%;
    border-radius: 20px;
    background-position-y: -100px;
}

.coccampus
{
    background-image: url("./image/coccampus.png");
    background-size: cover;
    width: 700px;
    height: 440px;
    border-radius: 20px;
}

.paragraph4
{
    border-radius: 30px;
    width: 800px;
    background-color: #fff;
    height: 700px;
    float: left;
    position: relative;
    margin: 80px 0px 0px 70px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.paragraph5
{
    border-radius: 30px;
    width: 830px;
    background-color: #fff;
    height: 340px;
    float: left;
    position: relative;
    margin: 80px 0px 0px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.paragraph6
{
    border-radius: 30px;
    width: 830px;
    background-color: #fff;
    height: 340px;
    float: left;
    position: relative;
    margin: 20px 0px 0px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main_text0 > li
{
    margin-top: 132px;
    text-align: center;
    padding-top: 60px;
}

.ugrp_result_image
{
    background-image: url("./image/ugrp_result1.jpg");
    background-size: cover;
    width: 320px;
    height: 200px;
    background-position-x: -20px;
    border-radius: 10px;
}

.ugrp_result_image2
{
    background-image: url("./image/ugrp_result2.jpg");
    background-size: cover;
    width: 320px;
    height: 200px;
    background-position-y: -130px;
    float: right;
    margin-top: -200px;
    border-radius: 10px;
}

.paragraph4 > ul
{
    width: 700px;
    height: 573px;
    margin: 10px 0px 20px 40px;
}

.paragraph4 > ul > li
{
    padding-top: 10px;
}

.paragraph4 > h1,
.paragraph4 > h4
{
    padding-left: 40px;
}

.paragraph4 > h1
{
    padding-top: 30px;
    font-size: 30px;
}

.paragraph4 > li
{
    padding-left: 40px;
    padding-top: 10px;
}

.paragraph5 > ul,
.paragraph6 > ul
{
    display: flex;
    width: 800px;
    height: 300px;
    margin: 20px 0px 20px 20px;
}

.paragraph5 > ul > div,
.paragraph6 > ul > div
{
    border-radius: 20px;
    flex: 1;
    margin-right: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.paragraph5 > ul > div > li,
.paragraph6 > ul > div > li
{
    margin-top: 20px;
    font-size: 15px;
    margin-left: 20px;
}

.paragraph5 > ul > div > h4,
.paragraph6 > ul > div > h4
{
    margin-left: 20px;
    margin-top: 10px;
}

.wired_glove_img
{
    background-size: cover;
    background-image: url("./image/wired_glove.jpeg");
}

.dev_study_img
{
    background-size: cover;
    background-image: url("./image/dev_study.png");
    background-position-x: -75px;
}